# Environment variables
.env

# Docker-related files
**/Dockerfile
**/docker-compose.yml

# Logs
logs/

# Node.js dependencies
node_modules/

# Python virtual environment
venv/
__pycache__/

# IDE-specific files
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db